//混合器
@mixin rounded-corners {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


.mycss01 {
  background-color: #ccc;
  color: #000;
  @include rounded-corners;
}

.mycss02 {
  @include rounded-corners;
  border: 2px solid #00aa00;
}


@mixin no-bullets {
  list-style: none;
  li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px;
  }
}

ul.plain {
  color: #ccc;
  @include no-bullets;
}


@mixin link-colors( $normal,$hover,$visited) {
  color: $normal;
  &:hover {
    color: $hover;
  }
  &:visited {
    color: $visited;
  }
}

/*a {
  @include link-colors(red,green,blue);
}*/
a {
  @include link-colors(
          $normal: red,
          $hover: green,
          $visited: blue);
}


@mixin link-color($normal: red,$hover: green,$visited: blue) {
  color: $normal;
  &:hover {
    color: $hover;
  }
  &:visited {
    color: $visited;
  }
}

p {
  @include link-color;
}

//p {
//  @include link-color(#ccc); //将第一个值变成#ccc
//}
//
//p {
//  @include link-color($hover: #ccc); //将第二个值变成#ccc
//}
//
//p {
//  @include link-color($visited: #ccc); //将第三个值变成#ccc
//}
//


//继承
.error{
  border: 1px red;
  background-color: #fdd;
}

.error a {
  color: red;
  font-weight: 100;
}

h1.error {
  font-size: 1.2rem ;
}

.seriousError {
  @extend .error;
  border-width: 3px;
}








