.mycss01 {
  background-color: #ccc;
  color: #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.mycss02 {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #00aa00; }

ul.plain {
  color: #ccc;
  list-style: none; }
  ul.plain li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px; }

/*a {
  @include link-colors(red,green,blue);
}*/
a {
  color: red; }
  a:hover {
    color: green; }
  a:visited {
    color: blue; }

p {
  color: red; }
  p:hover {
    color: green; }
  p:visited {
    color: blue; }

.error, .seriousError {
  border: 1px red;
  background-color: #fdd; }

.error a, .seriousError a {
  color: red;
  font-weight: 100; }

h1.error, h1.seriousError {
  font-size: 1.2rem; }

.seriousError {
  border-width: 3px; }
