#centent article h1 {
  color: #333; }

#centent article p {
  margin-bottom: 1.4em; }

#centent aside {
  background-color: #EEE; }

article a {
  color: blue; }
  article a:hover {
    color: red; }

#content2 aside {
  color: red; }
  body.ie #content2 aside {
    color: green; }

.container h1, .container h2, .container h3 {
  margin-bottom: 5em; }

nav a, aside a {
  color: orange; }
